.home {
  text-align: center;
}

.matrix {
  margin: auto;
  user-select: none;
  border-collapse: collapse;
  font-size: 30px;
}

.matrix__item {
  padding: 10px;
  cursor: pointer;
  background-color: #ddd;
}

.button {
  margin-top: 15px;
}